<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net451" />
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="Autofac.SignalR" version="3.0.2" targetFramework="net46" />
  <package id="Dapper" version="1.42" targetFramework="net46" />
  <package id="Dapper-Async" version="1.03" targetFramework="net46" />
  <package id="dbup" version="3.2.1" targetFramework="net451" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net46" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="Hangfire.Autofac" version="1.1.0" targetFramework="net46" />
  <package id="Hangfire.Core" version="1.4.5" targetFramework="net46" />
  <package id="Hangfire.SqlServer" version="1.4.5" targetFramework="net46" />
  <package id="Hangfire.SqlServer.MSMQ" version="1.4.5" targetFramework="net46" />
  <package id="Humanizer" version="1.36.0" targetFramework="net451" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net451" />
  <package id="Linq2Rest" version="4.1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.OData" version="5.5.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net46" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net46" />
  <package id="Microsoft.OData.Core" version="6.11.0" targetFramework="net451" />
  <package id="Microsoft.OData.Edm" version="6.11.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.SelfHost" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Spatial" version="6.11.0" targetFramework="net451" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net451" />
  <package id="Nancy" version="1.2.0" targetFramework="net451" />
  <package id="Nancy.Authentication.Basic" version="1.2.0" targetFramework="net451" />
  <package id="Nancy.Authentication.Stateless" version="1.2.0" targetFramework="net451" />
  <package id="Nancy.Authentication.Token" version="1.2.0" targetFramework="net451" />
  <package id="Nancy.Bootstrappers.Autofac" version="1.2.0" targetFramework="net451" />
  <package id="Nancy.Hosting.Self" version="1.2.0" targetFramework="net451" />
  <package id="Nancy.LightningCache" version="0.1.3" targetFramework="net46" />
  <package id="Nancy.Owin" version="1.2.0" targetFramework="net46" />
  <package id="Nancy.Serialization.JsonNet" version="1.2.0" targetFramework="net451" />
  <package id="ncrontab" version="2.0.0" targetFramework="net46" />
  <package id="netfx-System.Xml.XmlSerializer" version="1.1.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
  <package id="NuGet.Core" version="2.8.6" targetFramework="net46" />
  <package id="OpenXmlUtils" version="1.0.0.6" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="Palmer" version="0.1.4724.20297" targetFramework="net46" />
  <package id="Simple.OData.Client" version="4.10.0" targetFramework="net46" />
  <package id="SimpleCrypto" version="0.3.30.26" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net451" />
</packages>