@media only screen and (max-width: 767px) {
  .ui.container {
    margin-left: 0em !important; } }

svg .ct-label {
    fill: rgba(255,255,255,.8);
}

svg .ct-series-a .ct-bar, svg .ct-series-a .ct-line, svg .ct-series-a .ct-point, svg .ct-series-a .ct-slice-donut {
        stroke: #355DCA;
}

.cd-timeline-img i.icon {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -13px;
  margin-top: -14px; }

#applicationHost .masthead > .container, #applicationHost .main.container, #applicationHost .fixed.menu > .container {
  margin-left: 3em !important;
  margin-right: 3em !important;
  width: auto !important;
  max-width: 960px !important; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

#applicationHost .tab.masthead.segment {
  display: block;
  padding-bottom: 0em;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset; }

#applicationHost .masthead.segment {
  position: relative;
  z-index: 1;
  margin: 0em;
  padding: 3em 0em;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: none; }

#applicationHost .masthead > .container {
  margin-right: 387px !important; }

#applicationHost .masthead .introduction {
  display: block; }

#applicationHost .masthead .introduction:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

#applicationHost .masthead.segment h1 {
  margin: 0em; }

#applicationHost .masthead iframe.github {
  float: right; }

/* Align with buttons */
#applicationHost .masthead .main.menu {
  margin-top: -2px;
  min-height: 0em; }

#applicationHost .masthead .main.menu > .item {
  padding-top: 0.785714em;
  padding-bottom: 0.785714em; }

#applicationHost .fixed.menu > .container,
#applicationHost .main.container,
#applicationHost .masthead > .container,
#applicationHost .footer > .container {
  position: relative; }

#applicationHost .wide.main.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1140px; }

#applicationHost .tab.masthead .item.menu {
  margin: 3rem 0rem 2rem; }

.ui.segment.loadingApplicationSpinner {
  position: absolute;
  width: 100%;
  height: 100%; }

.ui.header.feedsHeader, .ui.header.addFeedHeader, .ui.header.settingsHeader, .ui.header.profileHeader, .ui.menu.feedMenu, .ui.menu.settingsHeader {
  margin-top: 24.572172164917px; }

.ui.addFeedButton {
  height: 35px; }

h1.ui.header.breadcrumb .active.section, h1.ui.header.breadcrumb {
  font-size: 2rem; }

h1.ui.header.breadcrumb {
  line-height: 35.9995994567871px; }

.signInRegisterPage {
  margin-left: 0px !important; }

.ui.vertical.divider.signInRegisterVerticalDivider, .ui.grid .column + .ui.vertical.divider.signInRegisterVerticalDivider {
  height: 105px;
  top: 212px; }

.doughnut-legend, .pie-legend {
  list-style: none; }

.doughnut-legend li, .pie-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out; }

.doughnut-legend li:hover, .pie-legend li:hover {
  background-color: #fafafa; }

.doughnut-legend li span, .pie-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px; }

.ui.menu.sidebar a.item:last-child {
  position: absolute;
  bottom: 0; }

.ui.vertical.divider.signInRegisterVerticalDivider:after, .ui.vertical.divider.signInRegisterVerticalDivider:before {
  border-color: white; }

.sidebar.ui.labeled.icon.menu .item {
  min-width: 1em; }

.ui.pagination.menu .item {
  min-width: 0em; }

.ui.modal > .content, .ui.modal .content .ui.icon.message {
  width: auto; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.apiKeyTextBox ::-webkit-input-placeholder {
  color: #909; }

.apiKeyTextBox :-moz-placeholder {
  color: #909;
  opacity: 1; }

.apiKeyTextBox ::-moz-placeholder {
  color: #909;
  opacity: 1; }

.apiKeyTextBox :-ms-input-placeholder {
  color: #909; }

.ui.form .field .apiKeyTextBox:disabled {
  opacity: 1; }

.ui.table .ui.items > .item > .image:not(.ui) {
  width: auto; }

.ui.table .ui.items > .item > .content p {
  margin: 0; }

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }