<div class="ui masthead vertical tab segment">
    <div class="ui container">
        <div class="introduction">

            <h1 class="ui header huge breadcrumb">
                <a class="section" href="#feeds">Feeds</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">Add Feed</div>

                <div class="sub header">

                    Welcome to NuFridge.
                </div>
            </h1>

            <div class="ui hidden divider"></div>
        </div>


    </div>
</div>

<div class="main ui container">

    <div class="ui active tab" data-tab="icons">

        <h2 class="ui header dividing addFeedHeader">
            Add Feed<a class="anchor" id="createFeedFormAnchor"></a>
        </h2>

        <div data-bind="compose: {model: '../forms/addeditfeedform', view: '../forms/addeditfeedform', activationData: feedOptions}">
        </div>
    </div>

</div>