<div class="ui masthead vertical tab segment">
    <div class="ui container">
        <div class="introduction">

            <h1 class="ui header huge breadcrumb">
                <a class="section" href="#feeds">Feeds</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">Edit Feed</div>

                <div class="sub header">
                    Welcome to NuFridge.
                </div>
            </h1>

            <div class="ui hidden divider"></div>
        </div>


    </div>
</div>

<div class="main ui container">

    <div class="ui active tab" data-tab="icons">

        <h2 class="ui header dividing addFeedHeader" data-bind="text: feed().Name"></h2>

        <div class="ui top attached tabular menu feedMenu">
            <a class="item active" data-tab="first">Overview</a>
            <a class="item" data-tab="second">Endpoints</a>
            <a class="item" data-tab="third">Packages</a>
            <a class="item settingTab" data-tab="fourth">Settings</a>
        </div>
        <div data-tab="first" class="ui bottom attached tab segment active">
            <h3>Actions</h3>
            <button class="ui primary button" data-bind="click: ReindexPackages">
                Reindex Packages
            </button>
        </div>
        <div data-tab="second" class="ui bottom attached tab segment">
            <h3>NuGet V2 API Endpoints</h3>

            <table class="ui compact table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Push Package</td>
                        <td><a data-bind="text: feed().GetPushPackagesUrl(), href: feed().GetPushPackagesUrl()" target="_blank"></a></td>
                        <td>Use this for pushing NuGet packages.</td>
                    </tr>
                    <tr>
                        <td>Push Package</td>
                        <td><a data-bind="text: feed().GetLegacyPushPackagesUrl(), href: feed().GetLegacyPushPackagesUrl()" target="_blank"></a></td>
                        <td>Use this for pushing NuGet packages.</td>
                    </tr>
                    <tr>
                        <td>OData Query</td>
                        <td><a data-bind="text: feed().GetODataUrl(), href: feed().GetODataUrl()" target="_blank"></a></td>
                        <td>Use this for the Visual Studio NuGet package manager.</td>
                    </tr>
                <tr>
                    <td>OData Query</td>
                    <td><a data-bind="text: feed().GetLegacyODataUrl(), href: feed().GetLegacyODataUrl()" target="_blank"></a></td>
                    <td>Use this for the Visual Studio NuGet package manager.</td>
                </tr>
                    <tr>
                        <td>Symbol Server</td>
                        <td><a data-bind="text: feed().GetSymbolsUrl(), href: feed().GetSymbolsUrl()" target="_blank"></a></td>
                        <td>Use this as a symbol server in Visual Studio.</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div data-tab="third" class="ui bottom attached tab segment">
            <div data-bind="compose: { model: '../forms/editfeedpackagelist', view: '../forms/editfeedpackagelist', activationData: feedOptions }">
            </div>
        </div>
        <div data-tab="fourth" class="ui bottom attached tab segment settingTab">
            <div data-bind="compose: { model: '../forms/addeditfeedform', view: '../forms/addeditfeedform', activationData: feedOptions }">
            </div>
        </div>

    </div>

</div>
