<div class="ui masthead vertical tab segment">
    <div class="ui container">
        <div class="introduction">

            <h1 class="ui header huge breadcrumb">
                <a class="section" href="#feeds">Feeds</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">Edit Feed</div>

                <div class="sub header">
                    Welcome to NuFridge.
                </div>
            </h1>

            <div class="ui hidden divider"></div>
        </div>


    </div>
</div>

<div class="main ui container">

    <div class="ui active tab" data-tab="icons">

        <h2 class="ui header dividing addFeedHeader" data-bind="text: feed().Name"></h2>

        <div class="ui top attached tabular menu feedMenu">
            <a class="item active" data-tab="first">Overview</a>
            <a class="item" data-tab="second">Endpoints</a>
            <a class="item" data-tab="third">Packages</a>
            <a class="item settingTab" data-tab="fourth">Settings</a>
        </div>
        <div data-tab="first" class="ui bottom attached tab segment active">
            <div class="ui grid">
                <div class="eight wide column">
                    <h3>Recent Package Uploads</h3>
                    <table class="ui compact table">
                        <thead>
                            <tr>
                                <th>Package Id</th>
                                <th>Version</th>
                                <th>Uploaded At</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Example.Id</td>
                                <td>1.0.0</td>
                                <td>Today</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="eight wide column">
                    <h3>Recent Package Downloads</h3>
                    <table class="ui compact table">
                        <thead>
                            <tr>
                                <th>Package Id</th>
                                <th>Version</th>
                                <th>Uploaded At</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Example.Id</td>
                                <td>1.0.0</td>
                                <td>Today</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
           
            <h3>Administrative Actions</h3>
            <button class="ui primary button reindexPackagesButton" data-bind="click: ReindexPackages">
                Reindex Packages
            </button>
        </div>
        <div data-tab="second" class="ui bottom attached tab segment">
            <div data-bind="compose: { model: '../forms/feedendpoints', view: '../forms/feedendpoints', activationData: feedOptions }">
            </div>
        </div>
        <div data-tab="third" class="ui bottom attached tab segment">
            <div data-bind="compose: { model: '../forms/editfeedpackagelist', view: '../forms/editfeedpackagelist', activationData: feedOptions }">
            </div>
        </div>
        <div data-tab="fourth" class="ui bottom attached tab segment settingTab">
            <div data-bind="compose: { model: '../forms/addeditfeedform', view: '../forms/addeditfeedform', activationData: feedOptions }">
            </div>
        </div>

    </div>

</div>