<div class="ui masthead vertical tab segment">
    <div class="ui container">
        <div class="introduction">

            <h1 class="ui header huge breadcrumb">
                <a class="section" href="#feeds">Feeds</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">Edit Feed</div>

                <div class="sub header">
                    Welcome to NuFridge.
                </div>
            </h1>

            <div class="ui hidden divider"></div>
        </div>


    </div>
</div>

<div class="main ui container">

    <div class="ui active tab" data-tab="icons">

        <h2 class="ui header dividing addFeedHeader" data-bind="text: feed().Name"></h2>

        <div class="ui top attached tabular menu feedMenu">
            <a class="item active" data-tab="first">Overview</a>
            <a class="item" data-tab="second">Packages</a>
            <a class="item" data-tab="third">Retention Policy</a>
            <a class="item settingTab" data-tab="fourth">Settings</a>
        </div>
        <div data-tab="first" class="ui bottom attached tab segment active">
            <h3>NuGet V2 API Endpoints</h3>

            <table class="ui compact table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Method</th>
                        <th>URL</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Push Package</td>
                        <td>POST</td>
                        <td><a data-bind="text: feed().GetPushPackagesUrl(), href: feed().GetPushPackagesUrl()" target="_blank"></a></td>
                        <td>Use this for pushing NuGet packages.</td>
                    </tr>
                    <tr>
                        <td>OData Query</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetODataUrl(), href: feed().GetODataUrl()" target="_blank"></a></td>
                        <td>Use this for the Visual Studio NuGet package manager.</td>
                    </tr>
                    <tr>
                        <td>OData Query</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetLegacyODataUrl(), href: feed().GetLegacyODataUrl()" target="_blank"></a></td>
                        <td>Use this for the Visual Studio NuGet package manager.</td>
                    </tr>
                    <tr>
                        <td>OData Metadata</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetODataMetadataUrl(), href: feed().GetODataMetadataUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OData Metadata</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetLegacyODataMetadataUrl(), href: feed().GetLegacyODataMetadataUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OData Batch</td>
                        <td>POST</td>
                        <td><a data-bind="text: feed().GetODataBatchUrl(), href: feed().GetODataBatchUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OData Batch</td>
                        <td>POST</td>
                        <td><a data-bind="text: feed().GetLegacyODataBatchUrl(), href: feed().GetLegacyODataBatchUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OData Search</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetODataSearchUrl(), href: feed().GetODataSearchUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OData Search</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetLegacyODataSearchUrl(), href: feed().GetLegacyODataSearchUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OData Packages</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetODataPackagesUrl(), href: feed().GetODataPackagesUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>OData Packages</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetLegacyODataPackagesUrl(), href: feed().GetLegacyODataPackagesUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Download Package</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetDownloadUrl(), href: feed().GetDownloadUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Delete Package</td>
                        <td>DELETE</td>
                        <td><a data-bind="text: feed().GetDeleteUrl(), href: feed().GetDeleteUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Get Updates</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetGetUpdatesUrl(), href: feed().GetGetUpdatesUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Get Updates</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetLegacyGetUpdatesUrl(), href: feed().GetLegacyGetUpdatesUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Get Package</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetODataPackageUrl(), href: feed().GetODataPackageUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Get Package</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetLegacyODataPackageUrl(), href: feed().GetLegacyODataPackageUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Find Packages By Id</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetFindPackagesByIdUrl(), href: feed().GetFindPackagesByIdUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Find Packages By Id</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetLegacyFindPackagesByIdUrl(), href: feed().GetLegacyFindPackagesByIdUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Package Ids</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetTabCompletionPackageIdsUrl(), href: feed().GetTabCompletionPackageIdsUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Package Versions</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetTabCompletionPackageVersionsUrl(), href: feed().GetTabCompletionPackageVersionsUrl()" target="_blank"></a></td>
                        <td></td>
                    </tr>
                <tr>
                    <td>Symbols</td>
                    <td>GET</td>
                    <td><a data-bind="text: feed().GetSymbolsUrl(), href: feed().GetSymbolsUrl()" target="_blank"></a></td>
                    <td>Not supported in this version. Use the OData Query URL for accessing symbols once implemented.</td>
                </tr>
                                        <tr>
                        <td>Symbols</td>
                        <td>GET</td>
                        <td><a data-bind="text: feed().GetLegacySymbolsUrl(), href: feed().GetLegacySymbolsUrl()" target="_blank"></a></td>
                        <td>Not supported in this version. Use the OData Query URL for accessing symbols once implemented.</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div data-tab="second" class="ui bottom attached tab segment">
            <div data-bind="compose: { model: '../forms/editfeedpackagelist', view: '../forms/editfeedpackagelist', activationData: feedOptions }">
            </div>
        </div>
        <div data-tab="third" class="ui bottom attached tab segment">
            <div data-bind="compose: { model: '../forms/editfeedpackageretention', view: '../forms/editfeedpackageretention', activationData: feedConfigOptions }">
            </div>
        </div>
        <div data-tab="fourth" class="ui bottom attached tab segment settingTab">
            <div data-bind="compose: { model: '../forms/addeditfeedform', view: '../forms/addeditfeedform', activationData: feedOptions }">
            </div>
        </div>

    </div>

</div>
