<div class="ui masthead vertical tab segment">
    <div class="ui container">
        <div class="introduction">

            <h1 class="ui header">
                Profile

                <div class="sub header">

                    Welcome to NuFridge.
                </div>
            </h1>

            <div class="ui hidden divider"></div>
        </div>


    </div>
</div>

<div class="main ui container">

    <div class="ui active tab" data-tab="icons">

        <h2 class="ui header dividing profileHeader">
            Admin<a class="anchor" id="profileAnchor"></a>
            <a class="ui blue image label">
                Admin
                <div class="detail">System Administrator</div>
            </a>
        </h2>

        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="first">Profile</a>
        </div>
        <div data-tab="first" class="ui bottom attached tab segment active">
            <div class="ui form">
                <div class="two fields">
                    <div class="field">
                        <div class="required field">
                            <label>First Name</label>
                            <input type="text" value="Admin" readonly="readonly">
                        </div>
                    </div>
                    <div class="required field">
                        <label>Last Name</label>
                        <input type="text" value="Admin" readonly="readonly">
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Email Address</label>
                        <input type="text" readonly="readonly" value="admin@nufridge.com">
                    </div>
                </div>
                <div class="ui buttons" style="display: none;">
                    <button class="ui button">Cancel</button>
                    <div class="or"></div>
                    <button class="ui positive button">Save</button>
                </div>

                <div class="ui buttons floatRight" style="display: none;">
                    <button class="ui red button">Delete</button>
                </div>
            </div>
        </div>




    </div>

</div>