<nav class="blue darken-1">
    <div class="nav-wrapper">
        <div class="container">
            <a href="#!" class="brand-logo">NuFridge</a>
            <ul class="right hide-on-med-and-down" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, title: title"><i data-bind="css: $data.icon"></i></a>
                </li>
            </ul>
            <!--<li><a href="#" title="Home"><i class="mdi-action-home"></i></a></li>
            <li><a href="#feeds" title="Feeds"><i class="mdi-navigation-apps"></i></a></li>
            <li><a href="#profile" title="My Profile"><i class="mdi-action-account-box"></i></a></li>
            <li><a href="#settings" title="Settings"><i class="mdi-action-settings-applications"></i></a></li>-->
        </div>
    </div>
</nav>



<div class="page-host" data-bind="router: { transition:'entrance' }"></div>



<footer class="page-footer blue darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">NuFridge is a package management server for NuGet which supports multiple feeds.</p>
                <p class="grey-text text-lighten-4">The feeds are powered by <a class="grey-text text-lighten-4" href="https://github.com/themotleyfool/NuGet.Lucene">https://github.com/themotleyfool/NuGet.Lucene</aclass>.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.nufridge.com">https://www.nufridge.com</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://teamcity.nufridge.com">http://teamcity.nufridge.com</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://octopus.nufridge.com">http://octopus.nufridge.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue darken-4">
        <div class="container">
            NuFridge
        </div>
    </div>
</footer>

<!--<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <i class="fa fa-home"></i>
                <span>Durandal</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, text: title"></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="loader" data-bind="css: { active: router.isNavigating }">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search" data-bind="submit:search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
    </nav>

    <div class="page-host" data-bind="router: { transition:'entrance' }"></div>
</div>-->