<div class="container">
    <div class="row">
        <h4 data-bind="text:displayName"></h4>
        <form class="col s12" data-bind="with: feed">
            <div class="row">
                <div class="input-field ">
                    <i class="mdi-action-label prefix"></i>
                    <input id="icon_prefix" type="text" data-bind="value: name">
                    <label for="icon_prefix">Feed Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <i class="mdi-action-lock prefix"></i>
                    <input id="password" type="text" data-bind="value: apiKey">
                    <label for="password">API Key</label>
                </div>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn blue" data-bind="click: $root.createClick">Create</a>
            </div>
        </form>
    </div>
         <div id="addFeedModal" class="modal">
    <div class="modal-content">
      <h4>Creating feed.</h4>
        <p>Please wait while the feed is created.</p>
    </div>
  </div>
</div>

