<div class="container">

    <h4 data-bind="text: displayName()"></h4>

    <div class="row">
        <div class="col s12">
            <ul class="tabs z-depth-1" style="width: 100%;" id="viewFeedTabs">
                <li class="tab col s3" style="width: 33%;"><a href="#test1" class="active blue-text">Overview</a></li>
                <li class="tab col s3" style="width: 33%;"><a class="blue-text" href="#test2">Packages</a></li>
                <li class="tab col s3" style="width: 33%;"><a class="blue-text" href="#test3">Settings</a></li>
            </ul>
        </div>
    </div>

    <div id="test1" class="col s12">
        <div class="row">
            <div class="col s12">
                <a class="waves-effect waves-light btn blue">Stop</a>
            </div>
        </div>
    </div>

    <div id="test2" class="col s12">
        <div class="row">
            <div class="col s12">

                <div class="row">

                    <div class="input-field col s8">
                        <i class="mdi-action-search prefix"></i>
                        <input id="search" type="text" data-bind="value: searchTerm, valueUpdate: 'afterkeydown'">
                        <label for="search">Search</label>
                    </div>
                    <div class="input-field col s4">
                        <a class='viewFeedsPageSize btn-flat' data-activates='pageSize' style="float: right;">5 Packages Per Page</a>
                        <ul id='pageSize' class='dropdown-content'>
                            <li><a data-bind="click: changePageSize">5</a></li>
                            <li class="divider"></li>
                            <li><a data-bind="click: changePageSize">10</a></li>
                            <li class="divider"></li>
                            <li><a data-bind="click: changePageSize">20</a></li>
                            <li class="divider"></li>
                            <li><a data-bind="click: changePageSize">40</a></li>
                        </ul>
                    </div>
                </div>

                <div class="progress" data-bind="visible: isSearching">
                    <div class="indeterminate"></div>
                </div>

                <!-- ko if: pageCount() >= 1 -->

                <ul class="collection" data-bind="foreach: packages">
                    <li class="collection-item">
                        <h5 data-bind="text: id"></h5>
                        <blockquote data-bind="text: description"></blockquote>
                        <a class="waves-effect waves-light btn blue">Download</a>
                    </li>
                </ul>

                <!-- /ko -->

                <!-- ko if: pageCount() > 1 -->
                <div class="row">
                    <ul class="pagination">
                        <li data-bind="css: { disabled: $root.currentPage() == 0, 'waves-effect': $root.currentPage() != 0 }"><a data-bind="    click: $root.previousPage"><i class="mdi-navigation-chevron-left"></i></a></li>
                        <!-- ko foreach: new Array(pageCount()) -->
                        <li class="waves-effect" data-bind="css: { active: $root.currentPage() == $index(), blue: $root.currentPage() == $index() }, click: function () { $root.goToPage($index()); }"><a data-bind="    text: $index() + 1"></a></li>
                        <!-- /ko -->
                        <li data-bind="css: { disabled: $root.currentPage() == (pageCount() - 1), 'waves-effect': $root.currentPage() != (pageCount() - 1) }"><a data-bind="    click: $root.nextPage"><i class="mdi-navigation-chevron-right"></i></a></li>
                    </ul>
                </div>
                <!-- /ko -->
                <!-- ko if: pageCount() == 0 -->
                <p>There are no packages in the feed.</p>
                <!-- /ko -->
            </div>
        </div>
    </div>

    <div id="test3" class="col s12">
        <div class="row">
            <form class="col s12" data-bind="with: feed">

                <div class="input-field ">
                    <i class="mdi-action-label prefix" data-bind="css: { active: name() ? true : false }"></i>
                    <input id="icon_prefix" type="text" data-bind="value: name">
                    <label for="icon_prefix" data-bind="css: { active: name() ? true : false }">Feed Name</label>
                </div>

                <div class="input-field">
                    <i class="mdi-action-lock prefix" data-bind="css: { active: apiKey() ? true : false }"></i>
                    <input id="password" type="text" data-bind="value: apiKey">
                    <label for="password" data-bind="css: { active: apiKey() ? true : false }">API Key</label>
                </div>

                <a class="waves-effect waves-light btn blue" data-bind="click: $root.updateClick">Update</a> <a class="waves-effect waves-light btn red" data-bind="    click: $root.deleteClick">Delete</a>

            </form>

        </div>
    </div>


    <div id="editFeedModal" class="modal">
        <div class="modal-content">
            <h4>Saving feed.</h4>
            <p>Please wait while the feed is restarted.</p>
        </div>
    </div>
    <div id="deleteFeedModal" class="modal">
        <div class="modal-content">
            <h4>Deleting feed.</h4>
            <p>Please wait while the feed is deleted.</p>
        </div>
    </div>
</div>
