<div class="container">

    <h4 data-bind="text: displayName"></h4>

    <div class="row">
        <div class="col s12">
            <ul class="tabs z-depth-1" style="width: 100%;" id="viewFeedTabs">
                <li class="tab col s3" style="width: 50%;"><a href="#test1" class="active blue-text">Overview</a></li>
                <li class="tab col s3" style="width: 50%;"><a class="blue-text" href="#test2">Settings</a></li>
            </ul>
        </div>
    </div>

    <div id="test1" class="col s12">
        <div class="row">
            <div class="col s12">
                <p>Packages: 0</p>
            </div>
        </div>
    </div>

    <div id="test2" class="col s12">
        <div class="row">
            <form class="col s12" data-bind="with: feed">

                <div class="input-field ">
                    <i class="mdi-action-label prefix" data-bind="css: { active: name() ? true : false }"></i>
                    <input id="icon_prefix" type="text" data-bind="value: name">
                    <label for="icon_prefix" data-bind="css: { active: name() ? true : false }">Feed Name</label>
                </div>

                <div class="input-field">
                    <i class="mdi-action-lock prefix" data-bind="css: { active: apiKey() ? true : false }"></i>
                    <input id="password" type="password" data-bind="value: apiKey">
                    <label for="password" data-bind="css: { active: apiKey() ? true : false }">API Key</label>
                </div>

                <a class="waves-effect waves-light btn blue" data-bind="click: $root.updateClick">Update</a> <a class="waves-effect waves-light btn red" data-bind="    click: $root.deleteClick">Delete</a>

            </form>

        </div>
    </div>


    <div id="editFeedModal" class="modal">
        <div class="modal-content">
            <h4>Saving feed.</h4>
            <p>Please wait while the feed is restarted.</p>
        </div>
    </div>
    <div id="deleteFeedModal" class="modal">
        <div class="modal-content">
            <h4>Deleting feed.</h4>
            <p>Please wait while the feed is deleted.</p>
        </div>
    </div>
</div>
