

<nav class="blue darken-1">
    <div id="progressBar" aria-busy="false" aria-label="Loading, please wait." role="progressbar"></div>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" class="brand-logo">NuFridge</a>
            <ul class="right hide-on-med-and-down" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, title: title"><i data-bind="css: $data.icon"></i></a>
                </li>
            </ul>
            <!--<li><a href="#" title="Home"><i class="mdi-action-home"></i></a></li>
            <li><a href="#feeds" title="Feeds"><i class="mdi-navigation-apps"></i></a></li>
            <li><a href="#profile" title="My Profile"><i class="mdi-action-account-box"></i></a></li>
            <li><a href="#settings" title="Settings"><i class="mdi-action-settings-applications"></i></a></li>-->
        </div>
    </div>
</nav>


<div class="page-host" data-bind="router: { transition:'entrance' }"></div>



<footer class="page-footer blue darken-1" style="padding-top: 0;">
    <div class="container" style="height: 18px;">
        <div class="row">
            <div class="col s12">
                <div class="grey-text text-lighten-3" style="font-size: 12px;" data-bind="text: router.navigateRenderTime"></div>
            </div>
            </div>
    </div>
    <div class="footer-copyright blue darken-4">
        <div class="container">
            <div class="row">
                <div class="col s4">
                    <a class="grey-text text-lighten-3" target="_blank" href="https://www.nufridge.com">https://www.nufridge.com</a>
                </div>
                <!--<div class="col s4">
                    <a class="grey-text text-lighten-3" target="_blank" href="http://teamcity.nufridge.com">http://teamcity.nufridge.com</a>
                </div>
                <div class="col s4">
                    <a class="grey-text text-lighten-3" target="_blank" href="http://octopus.nufridge.com">http://octopus.nufridge.com</a>
                </div>-->
            </div>
        </div>
    </div>
</footer>